{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">Dash Builder</h1>
        <p class="lead">Labview Alternative</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body text-center">
                  <!-- <h5 class="card-title">Front Panel</h5> -->
                  <a href="{% url 'front:frontpanel_home' %}" class="btn btn-primary btn-lg">Front Panel</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body text-center">
                  <!-- <h5 class="card-title">Back Panel</h5> -->
                  <a href="{% url 'back:backpanel_home' %}" class="btn btn-primary btn-lg">Back Panel</a>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
